{% extends 'home/base.html' %} {% load static %} {%block content%}
<h1>Home Page</h1>

{% if user.is_authenticated %}
<h3>Hello {{request.user.username}}</h3>
<p><a href="{% url 'logout' %}">Logout</a></p>

{% else %}
<p>Please login first.</p>
<p><a href="{% url 'login' %}">Login</a></p>
{% endif %} {% endblock content %}
