{% extends 'home/base.html' %} {% load crispy_forms_tags %} {% load static %}
{%block content%}
<!-- If user is logged in -->
{% if user.is_authenticated %}
<h3>Hi {{request.user.username}}, you are already logged in</h3>
<p>Go to <a href="{%url 'home-index'%}">homepage</a></p>
<p>To register a new account, please <a href="{%url 'logout'%}">Logout</a></p>
{% else %}
<form method="POST" class="form-group">
    {% csrf_token %} {{form|crispy}}
    <button class="btn btn-success" type="submit">Register</button>
</form>
{% endif %} {% endblock content %}
