{% extends 'home/base.html' %} {% load static %} {% load crispy_forms_tags %}
{%block content%}
<!-- If user is logged in -->
{% if user.is_authenticated %}
<h3>Hi {{request.user.username}}, you are already logged in</h3>
<p>Go to <a href="{%url 'home-index'%}">homepage</a></p>
<p><a href="{%url 'logout'%}">Logout</a></p>
{% else %}
<form method="POST" class="form-group">
    {% csrf_token %} {{form|crispy}}
    <button type="submit" class="btn btn-success">Login</button>
    <br />
    <p><a href="{% url 'home-register' %}">Register</a></p>
</form>
{% endif %} {% endblock content %}
